{% extends "base.html.twig" %}
{% block title %}Digisound{% endblock %}
{% block body %}
    <h1 class="text-center m-3">Liste des Evènements</h1>
    
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Event</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Prix</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for event in events %}
                <th scope="row">{{event.id}}</th>
                <td>{{event.title}}</td>
                <td>{{event.startDate | format_datetime('short','none', locale="fr")}}</td>
                <td>{{event.endDate | format_datetime('short','none', locale="fr")}}</td>
                <td>{{event.price}} €</td>
                <td class="text-center">
                    <a href="{{path('event_edit',{'id':event.id})}}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                    <a href="{{path('event_delete',{'id':event.id})}}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{knp_pagination_render(events)}}
        </div>
    </div>
    
{% endblock %}